XMLTask/tariffs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="tariffs">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element maxOccurs="unbounded" name="tariff">
          <xsd:complexType>
            <xsd:sequence>
	      <xsd:element name="name" type="xsd:string">
		</xsd:element>
              <xsd:element name="oname" type="xsd:string">
		</xsd:element>
              <xsd:element name="payroll" type="xsd:int">		
	      </xsd:element>
             <xsd:element name="smsprice" type="xsd:int">		
	      </xsd:element>
              <xsd:element name="callprice">
                <xsd:complexType>
                  <xsd:sequence>                   
                    <xsd:element name="innerp" type="xsd:int">
		      </xsd:element>
                    <xsd:element name="outerp" type="xsd:int">
		      </xsd:element>
                    <xsd:element name="homep" type="xsd:int">
		      </xsd:element>                  
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
	    <xsd:attribute name="id" type="xsd:ID" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>